<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sge="http://typo3.org/ns/DKM/SiteGeneratorExtended/ViewHelpers">
<h4>Brugerdata</h4>
<div class="form-group">
    <div class="form-section col-md-6 col-xs-12">
        <div class="row">
            <div class="form-group col-sm-6 col-md-6">
                <label class="t3js-formengine-label">Brugerens fulde navn *</label>
                <div class="form-control-clearable">
                    <f:form.textfield name="tx_sitegenerator[firstStep][name]" required="1"/>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6">
                <label class="t3js-formengine-label">E-mail *</label>
                <div class="form-control-clearable">
                    <f:form.textfield name="tx_sitegenerator[firstStep][email]" required="1"/>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6">
                <label class="t3js-formengine-label">Brugernavn *</label>
                <div class="form-control-clearable">
                    <f:form.textfield name="tx_sitegenerator[firstStep][username]" required="1"/>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6">
                <label class="t3js-formengine-label">Kodeord *</label>
                <div class="form-control-clearable">
                    <f:form.textfield name="tx_sitegenerator[firstStep][password]" required="1" value="{sge:generatePassword()}"/>
                </div>
            </div>
        </div>
    </div>
</div>