<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="content">
        <h1><f:translate key="title_generator" /></h1>
        <h4><f:translate key="form.SecondStepData.title" /></h4>
        <f:form action="{moduleUrl}" method="POST" name="tx_sitegenerator" class="form-optional-data">
            <f:form.hidden name="action" value="{action}" />
            <f:form.hidden name="returnurl" value="{returnurl}" />
            <f:form.hidden name="siteDtoSaved" value="{siteDtoSaved}" />
            <f:comment>id is required to retrieve the right Typoscript configuration</f:comment>
            <f:form.hidden name="id" value="{siteDto.pid}" />
            <f:render partial="SecondStep/Top" arguments="{_all}" optional="1" />
            <div class="form-group">
                <div class="form-section">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.groupPrefix" /></label>
                            <div class="form-control-clearable">
                                <f:form.textfield property="groupPrefix" value="{siteDto.groupPrefix}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-section">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.domain" /></label>
                            <div class="form-control-clearable">
                                <f:form.textfield property="domain" value="{siteDto.domain}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-section">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            <label class="t3js-formengine-label">Group Home Path</label>
                            <div class="siteFolder-groupHomePath">
                                <f:translate key="form.SecondStepData.newFolderCreationFromGroupHomePath" extensionName="site_generator_extended"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-4">
                            <label class="t3js-formengine-label"><f:translate key="form.SecondStepData.subFolderNames" /></label>
                            <div class="form-control-clearable">
                                <f:form.textfield property="subFolderNames" value="{siteDto.subFolderNames}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <f:render partial="SecondStep/Bottom" arguments="{_all}" optional="1" />
            <div class="form-group">
                <f:link.action additionalParams="{action: 'get_data_first_step', siteDtoSaved: siteDtoSaved}" class="btn btn-default"><f:translate key="form.previousStep"/></f:link.action>
                <f:form.submit value="{f:translate(key: 'form.nexStep')}" class="btn btn-default" />
            </div>
        </f:form>
        <div class="spinner module-body t3js-module-body">
            <div id="t3js-ui-block" class="ui-block">
                <core:icon identifier="spinner-circle-light" size="large" />
            </div>
        </div>
    </f:section>
</html>


